<h1>Payments#Continue</h1>
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('pk_live_RVGK6e4fgMVy7P3gNXm3ELAT00WpFDWNQz');
  var id = '<%= @payment.payment_id %>'
  stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as parameter here
    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
    sessionId: id
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });
</script>