<div class='jumbotron' style='text-align: center; margin-top: 50px'>
  <h1>Processing Your payment</h1>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('<%= @key %>');
  var id = '<%= @payment.payment_id %>'
  stripe.redirectToCheckout({sessionId: id}).then(function (result) {
    
  });
</script>